@font-face {
    font-family: 'Insta';
    src: url('assets/fonts/instagram_title_font_regular.otf');
}

@font-face {
    font-family: 'Insta-bold';
    font-weight: bold;
    src: url('assets/fonts/instagram_title_font_bold.otf');
}

.logo {
    font-family: 'Insta';
}